 .banners{
     display: grid;
     flex-wrap: wrap;
     grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
     grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 6.25% 6.25%;
     height: calc(70vh - 110px);
    

 }
 
#banner1{
    flex-wrap: wrap;
    background-image: url('../img/abstract-1780148_1920.png');
    grid-column: 1 / 9;
    grid-row: 1 / 9;
}

#banner2{
    flex-wrap: wrap;
    background-image: url('../img/buildings-690364_640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 5/ 8;
    grid-row: 2 / 10;
}

 
 #banner3{
    flex-wrap: wrap;
    background-color:#0070c593;
    padding: 30px;
    color: cornsilk;
    grid-column: 2 / 5;
    grid-row: 3 / 8;
   
  
}

#titulo{
    font-size: 24px;
    text-align: center;
}

#text{
    text-align: left;
    font-size: 20px;
}

