.app {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #faf4f4;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 110px auto auto; 
}

.cabecalho {
    
    align-items: center;
    display: flex;
    grid-area: cabecalho;
}

.conteudo {
   
    grid-area: conteudo;
}

.rodape {
    background: rgba(181, 192, 195, 0.781);
    color: #333333;
    font-size: .8rem;
    padding: 1rem;
    text-align: center;
    grid-area: rodape;
    
}

